<div class="center">
    <h2>{{hash}}</h2>
</div>
<div id="logreg-forms">
  <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()" class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal" style="text-align: center; margin-top: 30px;"> Reset Password</h1>
      <div class="social-login">
      </div>
      <input formControlName="password" type="password" id="inputEmail" class="form-control" placeholder="New Password" required="" autofocus="">
      <input formControlName="confirmPassword" type="password" id="inputEmail" class="form-control" placeholder="Confirm Password" required="" autofocus="">
      <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i>Reset</button>
      <hr>
    </form>      
      <br>
</div>
